# Ignore VS settings and build output
.vs/
bin/
obj/
*.user
*.suo

# Ignore EF Core Migrations folders in any project
**/Migrations/

# Ignore local appsettings.json (but not appsettings.Development.json if needed)
**/appsettings*.json
