.otp-container {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: sans-serif;
}

.otp-container h2 {
  text-align: center;
}

.otp-container form {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.otp-container input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-family: sans-serif;
}

.otp-container button {
  padding: 0.5rem;
  font-family: sans-serif;
}

.success-message {
  color: green;
  background-color: #e6ffed;
  border: 1px solid #b5e7c3;
  padding: 0.75rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-family: sans-serif;
}

.error-message {
  color: red;
  background-color: #e6ffed;
  border: 1px solid #b5e7c3;
  padding: 0.75rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-family: sans-serif;
}

.text-danger {
  color: red;
}
.text-warning {
  color: orange;
}
.text-success {
  color: green;
}
.password-strength {
  margin-top: -8px; 
  margin-bottom: 10px;
  font-size: 0.9rem;
}
