<div class="otp-container">
  <h2>Set Your Password</h2>
  <div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
  </div>
  <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
    <input formControlName="userName" placeholder="Username" />
    <input formControlName="oneTimePassCode" placeholder="One-Time Passcode" />
    <input formControlName="newPassword" type="password" placeholder="New Password" />
    <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" />
    <button type="submit">Set Password</button>
  </form>
</div>
