<div class="login-container">
  <h2>Reset Password</h2>
  <div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
  </div>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <input formControlName="userName" type="text" placeholder="User Name" />
    <input formControlName="oneTimePassCode" type="text" placeholder="One-Time Passcode" />
    <input formControlName="newPassword" type="password" placeholder="New Password" />
    <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" />
    <button type="submit">Reset Password</button>
  </form>
</div>
