<div class="otp-container">
  <h2>Reset Password</h2>

  <div *ngIf="successMessage" class="success-message" (click)="successMessage = ''">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message" (click)="errorMessage = ''">
    {{ errorMessage }}
  </div>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <input formControlName="userName" type="text" placeholder="Username" />
    <input formControlName="oneTimePassCode" type="text" placeholder="One-Time Passcode" />

    <input
      formControlName="newPassword"
      type="password"
      placeholder="New Password"
      (input)="checkPasswordStrength()"
    />
    <div *ngIf="passwordStrength" [ngClass]="passwordStrengthClass + ' password-strength'">
      Password Strength: {{ passwordStrength }}
    </div>

    <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" />

    <button type="submit">Reset Password</button>
  </form>
</div>
