<div class="login-container">
  <h2>{{ 'LOGIN.TITLE' | translate }}</h2>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input formControlName="userName" [placeholder]="'LOGIN.USERNAME' | translate" />
    <input formControlName="password" type="password" [placeholder]="'LOGIN.PASSWORD' | translate" />
    <button type="submit">{{ 'LOGIN.SUBMIT' | translate }}</button>
  </form>

  <div class="links">
    <a routerLink="/register" routerLinkActive="active-link">{{ 'LOGIN.REGISTER' | translate }}</a> |
    <a routerLink="/forgot-password" routerLinkActive="active-link">{{ 'LOGIN.FORGOT' | translate }}</a>
  </div>
</div>
